nav(class='navbar navbar-inverse', role='navigation')
  div(class='container')
    div(class='navbar-header')
      button(type='button', class='navbar-toggle' data-toggle='collapse' data-target='.navbar-inverse-collapse')
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='navbar-brand', href='/') VolunteerHUB
    div(id='navbar', class='navbar-collapse navbar-inverse-collapse')
      //- form(class='navbar-form navbar-left', role='search', method='GET', action='/search')
      //-   div(class='form-group')
      //-     input(type='text', name='q', class='form-control', placeholder='Search')
      ul(class='nav navbar-nav navbar-left')
        li
          a(href='/user') Users
        li
          a(href='/project') Projects
        li
          a(href='/about') About
      ul(class='nav navbar-nav navbar-right')
        if user
          li
            a(href='/user/#{user.username}') #{user.displayName}
          li
            a(href='/logout') Logout
        else
          li
            a(href='/login') Login
          li
            a(href='/register') Register
