extends ../layout

block content
  h1 About VolunteerHUB
  br
  p VolunteerHUB was developed during CodeDay NY Winter 2015 by:
  ul
    li Marleah DesRuisseaux
    li Raymond Kogan
    li Asia Suarez
    li Josh Vega
    
