extends ../layout

block content
  h1 Add New Project
  
  form(method='POST', action='/project/create', class='form-horizontal')
    
    //- Project Name
    div(class='form-group')
      label(class='col-sm-3 control-label') Name
      div(class='col-sm-6')
        input(type='text', class='form-control', id='name', name='name', placeholder='Project Name')
    
    //- Brief Description
    div(class='form-group')
      label(class='col-sm-3 control-label') Brief Description
      div(class='col-sm-6')
        textarea(class='form-control', id='brief', name='brief', placeholder='Brief Description', rows='2')
    
    //- Detailed Description
    div(class='form-group')
      label(class='col-sm-3 control-label') Detailed Description
      div(class='col-sm-6')
        textarea(class='form-control', id='detail', name='detail', placeholder='Detailed Description', rows='5')
    
    br
    
    //- Date
    div(class='form-group')
      label(class='col-sm-3 control-label') Multi-Day Event
      div(class='col-sm-6')
        div(class='checkbox')
          label
            input(type='checkbox', id='multiday', value='multiday')
    div(class='form-group')
      label(class='col-sm-3 control-label', id="startdatelabel") Date
      div(class='col-sm-3')
        div(class='input-group', id='startdatepicker')
          input(type='text', class='form-control', id='startdate', name='startdate', placeholder='Date')
          span(class='input-group-addon')
            span(class='glyphicon glyphicon-calendar')
      div(class='col-sm-3')
        div(class='input-group', id='enddatepicker')
          input(type='text', class='form-control', id='enddate', name='enddate', placeholder='End Date')
          span(class='input-group-addon')
            span(class='glyphicon glyphicon-calendar')
    
    br
              
    //- Time
    div(class='form-group')
      label(class='col-sm-3 control-label') Time
      div(class='col-sm-3')
        div(class='input-group', id='starttimepicker')
          input(type='text', class='form-control', id='starttime', name='starttime', placeholder='Start Time')
          span(class='input-group-addon')
            span(class='glyphicon glyphicon-time')
      div(class='col-sm-3')
        div(class='input-group', id='endtimepicker')
          input(type='text', class='form-control', id='endtime', name='endtime', placeholder='End Time')
          span(class='input-group-addon')
            span(class='glyphicon glyphicon-time')
    
    br
    
    //- Location
    div(class='form-group')
      label(class='col-sm-3 control-label') Location
      div(class='col-sm-6')
        div(class='input-group', id='locationpicker', data-toggle='modal', data-target='map_modal')
          input(type='text', class='form-control', id='location', name='location', placeholder='Location')
          span(class='input-group-addon', onclick='$("#map_modal").modal("show")')
            span(class='glyphicon glyphicon-map-marker')
    
    //- Submit Button
    div(class='form-group')
      div(class='col-sm-offset-3 col-sm-8')
        button(type='submit', class='btn btn-primary') Create Project
        
  // Map Modal
  div(class='modal fade', id='map_modal', tabindex='-1', role='dialog')
    div(class='modal-dialog modal-lg')
      div(class='modal-content')
        div(class='modal-header')
          button(type='button', class='close', data-dismiss='modal')
            span &times;
          h4(class='modal-title') Choose Project Location
        div(class='modal-body')
          iframe(height='450em', width='850em', frameborder='0', scrolling='no', id="loc_map", src='/utils/map')
        div(class='modal-footer')
          button(type='button', class='btn btn-primary', id='getLoc') Select Location
        
  // Date & Time
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
  script(src='//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/src/js/bootstrap-datetimepicker.js')
  script.
    $(function () {
      $('#startdatepicker').datetimepicker({ format: 'MM/DD/YYYY' });
      $('#enddatepicker').datetimepicker({ format: 'MM/DD/YYYY' });
      $("#starttimepicker").datetimepicker({ format: 'hh:mm a' });
      $("#endtimepicker").datetimepicker({ format: 'hh:mm a' });
      $("#enddate").attr("disabled", true);
    });
    
    $("#getLoc").click(function() {
      var loc = $("#loc_map").contents().find("#location_name").val();
      $("#location").val(loc);
      $("#map_modal").modal('hide');
    });
    
    $("#multiday").click(function() {
      if ($("#multiday").prop('checked')) {
        // TODO: Add "End Date" field.
        $("#startdate").attr("placeholder", "Start Date");
        $("#enddate").attr("disabled", false);
      } else {
        // TODO: Remove "End Date" field.
        $("#startdate").attr("placeholder", "Date");
        $("#enddate").attr("disabled", true);
      }
    });
