extends ../layout

block content
  h1 User List
  br
  div(class='panel panel-default')
    table(class='table table-hover')
      th Name
      th Location
      each user in data
          tr
            td
              a(href='/user/#{user.username}') #{user.displayName}
            td= user.location
